<div class="container">
 <div class="jumbotron">
   

         <%= form_for @profile, :html => { :multipart => true } do |f| %>
            <% if @profile.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
     
           <ul>
           <% @profile.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
           </ul>
         </div>
       <% end %>


   <div class="form-group">
    <h2 style="color:OrangeRed"><center>Profile Info</center> </h2>
    <hr>
    <label for="inputEmail3" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
         <%= f.cktext_area :add_info ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"profile Details"%>
    </div>
  </div>

  <div class="form-group">
  <h2 style="color:OrangeRed"><center>Attach image </center></h2>
    <label for="inputEmail3" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
         <%= f.file_field :image ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" %>
    </div>
  </div>



    <div class="col-sm-offset-2 col-sm-10">
      
      <%= f.submit 'Submit', :class => 'btn btn-primary'  %>
      <%= f.submit 'Enter Profile Details', :class => 'btn btn-primary'  %>
    </div>
    <img src="/assets/cer.png" alt="Logo"  align="right" style="left: 18px;top: -390px;" >
    </div>

    <% end %>

   </div>
   </div>


