
  
  <div class="container">
 <div class="jumbotron">

<%= link_to 'New Profile', new_profile_path,:class =>"btn btn-primary pull-right" %>
  <h2 style="color:OrangeRed"><center>Listing Addresses</center></h2>
<hr>
  <div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped footable">


  <thead>
    <tr>
    <th>Profile Image</th>
      <th>profile info</th>
    </tr>
  </thead>
<br>
  <tbody>

    <% @profiles.each do |profile| %>
      <tr>
        <td><%= image_tag profile.image.url(:thumb) %></td>
        <td><%= profile.add_info.html_safe %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


