
  
  <div class="container">
 <div class="jumbotron">

 


<p id="notice"><%= notice %></p>




    <div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped footable">


  <thead>
    <tr>
    <th><h2>Profile Image</h2></th>
      <th><h2>Profile Info</h2></th>
    </tr>
  </thead>

  <tbody>
   
      <tr>
        <td><%= image_tag @profile.image.url(:medium) %></td>
        <td><%= @profile.add_info.html_safe %></td>
       </tr>
    </tbody>
</table>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>




</div>
</div>
</div>
</div>