	<body class="login-page">


		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  				<%= devise_error_messages! %>

			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Resend confirmation instructions
							<img src="../assets/resume.png" alt="Logo" width="50px" height="50px" align="left">
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
							 <%= f.email_field :email, autofocus: true , :class =>"form-control", :placeholder => "Email address" %>
								
							</div>
							
							
						</form>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<%= f.submit "Resend confirmation instructions",:class =>"btn btn-primary"%>
						
						<img src="/assets/loaders/loader15.gif" alt="Loader" >
					</div>
					
					<% end %>
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</body>

