
<div class="container">
 <div class="jumbotron">
    

        
<%= form_for @employee ,:html=>{:class=>"form-horizontal" ,:role=>"form"} do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   
  <div class="form-group">
<h2 style="color:OrangeRed"><center>Personal Information</center> </h2><hr>
    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-6">

      <%= f.text_field :first_name ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"first name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Middle  Name</label>
    <div class="col-sm-6">
      <%= f.text_field :middle_name ,:class =>"form-control", :style =>"border:1px groove #F7730E;" , :placeholder=>"Middle  Name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-6">
      <%= f.text_field :last_name ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"Last  Name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <%= f.text_field :email ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder=>"Email" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Age</label>
    <div class="col-sm-6">
      <%= f.text_field :age ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"Age"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">DOB</label>
    <div class="col-sm-6">
      <%= f.text_field :date_of_birth ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"date of birth"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      
      <%= f.submit 'Submit', :class => 'btn btn-primary'  %>
      <%= f.submit 'Enter Education Details', :class => 'btn btn-primary'  %>

    </div>
    <div id="image">
  <img src="../assets/newemp.png" alt="Logo"  width="450px" height="400px"align="left" style="
left: 39px;
top: -418px">
</div>
  </div>
    <% end %>




  </div>
  </div>
















