<div class="container">
 <div class="jumbotron">
                 <h2 style="color:OrangeRed"><center>Listing employees </center></h2>       
               <hr>
              
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped footable">
                    
                    <thead>

                      <tr>
                          <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Date of birth</th>
      <th colspan="3"> Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       <% @employee.each do |employee| %>
                      <tr>
                       
        <td><%= employee.first_name %></td>
        <td><%= employee.middle_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.age %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


<%#= link_to 'New Employee', new_employee_path %>
</div>
