 


<body class="login-page">

                    

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>            
        


      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><center> <h3> EDIT USER</h3s></center></h4></h4><img src="../assets/resume.png" alt="Logo" width="80px" height="80px" align="left" style ="position: relative;left: -7px;
top: -68px;"></h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
               <%= f.email_field :email, autofocus: true, :class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder => "Email address" %>
                
              </div>
               <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %> 

              <div class="form-group">
               <i>(leave blank if you don't want to change it)</i><br /><%= f.password_field :password, autocomplete: "off", :class =>"form-control",:style =>"border:1px groove #F7730E;" ,:placeholder =>"Password" %>
              </div>

               <div class="form-group">
               <%= f.password_field :password_confirmation, autocomplete: "off", :class =>"form-control",:style =>"border:1px groove #F7730E;" , :placeholder => "password_confirmation" %>
              
               </div>

                <div class="form-group">
                 <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", :class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder => "current_password" %>
              
                </div>

             

             
            </form>
            
          </div>
          <div class="modal-footer">
           <%= link_to "Back", :back , :class=>"btn btn-default" %>
            
            <%= f.submit "Update" ,:class =>"btn btn-primary"%>
            
            <img src="../assets/loaders/loader15.gif" alt="Loader" style="left: 6px;
top: -1px;">

          
          <% end %>

           <h3>Cancel my account</h3>            


            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class =>"btn btn-primary" %></p>            

              </div>
         
        </div>
      </div>
    </body>





