  <body class="login-page">
  

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>






			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<img src="../assets/resume.png" alt="Logo" width="80px" height="80px" align="left" >
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<center> <h3> CREATE FRESH ACCOUNT</h3s></center></h4>
					</div>
					<div class="modal-body">
						<form role="form">
							
						
														   
									 
							
							<div class="form-group">
							<%= f.email_field :email, autofocus: true,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder =>"Email address"%>
								
							</div>
							<div class="form-group">
							 <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
            				<%= f.password_field :password, autocomplete: "off", :class => "form-control", :style =>"border:1px groove #F7730E;" ,:placeholder =>"Password", :required => true %>
								
							</div>
							<div class="form-group">
							<%= f.password_field :password_confirmation, autocomplete: "off",:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder =>"Repeat password", :required => true %>
								
							</div>
							
						</form>
					</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<%= f.submit "Register",:class => "btn btn-primary" %>
							</button>
							<img src="../assets/loaders/loader15.gif"  style="left: 4px;top: 11px;" alt="Loader">

						</div>
						<% end %>
						
				</div>
			</div>
		

</body>

