<div class="container">
 <div class="jumbotron">


<%= link_to 'New Tech skill', new_tech_skill_path, :class=>"pull-right btn btn-default"%>
                
               
            <h2 style="color:OrangeRed"><center>Listing Technical Skill</center></h2><hr>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped footable">
                    <thead>
    <tr>
      <th>Skill name</th>
      <th>Presentage</th>
      <th>Institute name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tech_skills.each do |tech_skill| %>
      <tr>
        <td><%= tech_skill.skill_name %></td>
        <td><%= tech_skill.presentage %></td>
        <td><%= tech_skill.institute_name %></td>
        <td><%= tech_skill.start_date %></td>
        <td><%= tech_skill.end_date %></td>
        <td><%= tech_skill.user_id %></td>
        <td><%= link_to 'Show', tech_skill %></td>
        <td><%= link_to 'Edit', edit_tech_skill_path(tech_skill) %></td>
        <td><%= link_to 'Destroy', tech_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
                  </table>
                </div>
              </div>
            </div>
<br>
</div>

