<div class="container">
 <div class="jumbotron">
<p id="notice"><%= notice %></p>



                <h4><center>Listing TechnicalSkill</center></h4>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped footable">
                    <thead>
    <tr>
      <th><h2>Skill name</h2></th>
      <th><h2>Presentage</h2></th>
      <th><h2>Institute name</h2></th>
      <th><h2>Start date</h2></th>
      <th><h2>End date</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= @tech_skill.skill_name %></td>
        <td><%= @tech_skill.presentage %></td>
        <td><%= @tech_skill.institute_name %></td>
        <td><%= @tech_skill.start_date %></td>
        <td><%= @tech_skill.end_date %></td>
        <td><%= @tech_skill.user_id %></td>
         <td><%= link_to 'Edit', edit_tech_skill_path(@tech_skill) %> |<%= link_to 'Back', tech_skills_path %></td>
  
      </tr>
     </tbody>
                  </table>
                </div>
              </div>

            
            

</div> 
</div>