<body class="login-page">




<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>


			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<img src="/assets/resume.png" alt="Logo" width="80px" height="80px" align="left" >
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">
							<center> <h3> FORGOT PASSWORD ?</h3s></center></h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
							 <%= f.email_field :email, autofocus: true , :class =>"form-control", :placeholder => "Email address" %>
								
							</div>
							
							
						</form>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<%= f.submit "Send me reset password instructions" ,:class =>"btn btn-primary"%>
						
						<img src="/assets/loaders/loader15.gif" style="left: 4px;top: -2px;" alt="Loader">
					</div>
					
					<% end %>
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</body>



