

<title>hpresume</title>


	<header >
  <style type="text/css">
    .open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

  </style>
					<div class="panel-body">
								<p class="navbar-text pull-right ">
                   <% if user_signed_in? %>
                     Hi <strong><%= current_user.email %></strong>.
                     <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-primary' %> |
                     <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary'  %>
                  
                   </p>
						

 <ul class="nav nav-tabs">
         <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      <img src="../assets/resumeIcon.png" alt="Logo" width="100px" height="80px" align="left">
      <li class="active"><li><a href="#"></a></li>
      <li class="active"><li><a href="#"></a></li>
        <li class="active"><li><a href="/index">Home</a></li>
        <li class="active"><li><a href="/about_us">About Us</a></li>
        <li class="active"><li><a href="/employees/new">personal info</a></li>
        <li class="active"><li><a href="/profiles/new">Profile</a></li>
        <li class="active"><li><a href="/educations/new">Education</a></li>

        <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Resume <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
               
                <li><a href="/resume1" role="menuitem">Resume 1</a></li>
                <li><a href="/resume2" role="menuitem">Resume 2</a></li>
               
            </ul>
        </li>
         <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Add Info <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
               
                <li><a href="/certificationals/new" role="menuitem">Certifications</a></li>
                <li><a href="/experiences/new" role="menuitem">Experience</a></li>
                <li><a href="/tech_skills/new" role="menuitem">Technical Skills</a></li>
                <li><a href="/addresses/new" role="menuitem">Contact Info</a></li>
            </ul>
        </li>
         <li class="active"><li><a href="/contact_us">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </ul>
                     

                   <!--     <div id='cssmenu' class="pull-left" align="left" style="left: 7px;
                    top: 80px;" >
                    <ul>
                       <li class='active'><a href='#'><span>Add You info to improve you profile</span></a></li>
                       <li> <a href='/employees/new'><span>personal info</span></a></li>  
                       <li> <a href='/profiles/new'><span>Profile</span></a></li> 
                       <li> <a href='/educations/new'><span>Education </span></a></li>
                       <li> <a href='/certificationals/new'><span>Certifications </span></a></li>
                       <li> <a href='/tech_skills/new'><span>Technical Skills </span></a></li>
                       <li> <a href='/addresses/new'><span>Contact Info </span></a></li>  
                         
                      
                    </ul>
                    </div> -->


           <% else %>

       <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary'   %> |
       <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary'%>
    




    <ul class="nav nav-tabs">
         <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Home</a></li>
        <li class="active"><a href="/about_us">About Us</a></li>
        <li class="active"><a href="/contact_us">Contact</a></li>
        <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Resume <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
               
                <li><a href="/resume1" role="menuitem">Resume 1</a></li>
                <li><a href="/resume2" role="menuitem">Resume 2</a></li>
               
            </ul>
        </li>
        
      </ul>
    </div><!--/.nav-collapse -->
  </ul>
                 
      <% end %>
					
          

	</header>
