<body>
<div class="container">
 <div class="jumbotron">
 

<%= form_for @experience, :html=>{:class=>"form-horizontal" ,:role=>"form"} do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2 style="color:OrangeRed"><center>Experience Details</center></h2><hr>
  <div class="form-group">
    
 
    <label for="inputEmail3" class="col-sm-2 control-label">Company Name</label>
    <div class="col-sm-6">
      <%= f.text_field :companyname ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder=>"company Name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Designation Name</label>
    <div class="col-sm-6">
      <%= f.text_field :designation ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder=>"designation Name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Company Profile </label>
    <div class="col-sm-6">
      <%= f.text_field :companyprofile ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder=>"company profile "%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">duration</label>
    <div class="col-sm-6">
      <%= f.text_field :duration ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder=>"duration"%>
    </div>
  </div>
 
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      
      <%= f.submit 'Submit', :class => 'btn btn-primary'  %>
      <%= f.submit 'Enter Experience Details', :class => 'btn btn-primary'  %>
    </div>
       <div id="image">
  <img src="../assets/ed.png" alt="Logo"  align="left" style=" left: 10px;
top: -290px;">
</div>
  </div>
    <% end %>


  </div>
  </div>
</body>