

  
  <div class="container">
 <div class="jumbotron">

             <%= link_to 'Add experience', new_experience_path, :class =>"btn btn-primary pull-right" %>
     <h2 style="color:OrangeRed"><center>Listing experiences </center></h2>       
               <hr>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped footable">
                    <thead>
    <tr>
      <th>Company Name</th>
      <th>Designation</th>
      <th>Company Profile</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiences.reverse.each do |experience| %>
      <tr>
        <td><%= experience.companyname %></td>
        <td><%= experience.designation %></td>
        <td><%= experience.companyprofile %></td>
        <td><%= experience.duration %></td>
        <td><%= link_to 'Show', experience %></td>
        <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
        <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

</div>


<br>

<%#= link_to 'New Experience', new_experience_path %>



