
  
  <div class="container">
 <div class="jumbotron">

<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @experience.companyname %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @experience.designation %>
</p>

<p>
  <strong>Companyprofile:</strong>
  <%= @experience.companyprofile %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @experience.duration %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
</div>
</div>