

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!-- Login modal -->
			<body class="login-page">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<img src="../assets/resume.png" alt="Logo" width="80px" height="80px" align="left">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">
							<center> <h3> PLEASE SIGN IN</h3s></center></h4></h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
							 <%= f.email_field :email, autofocus: true, :class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder => "Email address" %>
								
							</div>
							<div class="form-group">
							<%= f.password_field :password, autocomplete: "off", :class =>"form-control",:style =>"border:1px groove #F7730E;" ,:placeholder =>"Password" %>
								
							</div>
						
						</form>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Forgot</button>
						<%= f.submit "Log in" , :class =>"btn btn-primary"%>
						
						<img src="../assets/loaders/loader15.gif"  style="left: 4px;top: 11px;"alt="Loader">
					</div>
					
					<% end %>
					<%= render "devise/shared/links", :html =>{:class =>"btn btn-primary"} %>

				</div>
			</div>
		</body>





