
<div class="container">
 <div class="jumbotron">
    
        
        <%= form_for @address ,:html=>{:class=>"form-horizontal" ,:role=>"form"} do |f| %>
          <% if @address.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

                   <ul>
                     <% @address.errors.full_messages.each do |message| %>
                       <li><%= message %></li>
                     <% end %>
                     </ul>
                   </div>
          <% end %> 

  <div class="form-group">
    <h2 style="color:OrangeRed"><center>Add Addresss</center></h2><hr>
    <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-6">
      <%= f.text_field :address ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"address"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">City</label>
    <div class="col-sm-6">
      <%= f.text_field :city ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"city"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">State</label>
    <div class="col-sm-6">
      <%= f.text_field :state ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"state"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Zipcode</label>
    <div class="col-sm-6">
      <%= f.text_field :zipcode ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"zipcode"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Mobile no</label>
    <div class="col-sm-6">
      <%= f.text_field :mobileno ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"mobile no"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Landline no</label>
    <div class="col-sm-6">
      <%= f.text_field :landlineno ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"landline no "%>
    </div>
  </div>

  <div class="form-group"><h2 style="color:OrangeRed"><center>Permenat Address</center> </h2></br></br>
  
    
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-6">
      <%= f.text_field :address_p ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"address"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">City</label>
    <div class="col-sm-6">
      <%= f.text_field :city_p ,:class =>"form-control",   :style =>"border:1px groove #F7730E;" ,:placeholder=>"city"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">State</label>
    <div class="col-sm-6">
      <%= f.text_field :state_p ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"state"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Zipcode</label>
    <div class="col-sm-6">
      <%= f.text_field :zipcode_p ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"zipcode"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Mobile no</label>
    <div class="col-sm-6">
      <%= f.text_field :mobileno_p,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"mobile no"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Landline no</label>
    <div class="col-sm-6">
      <%= f.text_field :landlineno_p ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"landline no "%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      
     <%= f.submit 'Submit' , :class => 'btn btn-primary'  %>
      <%= f.submit 'Export to PDF', :class => 'btn btn-primary'  %>
       
    </div>
     <img src="/assets/con.png" alt="Logo"  style="left: 700px;top: -800px;" >
  </div>

    <% end %>


</div>


    
