
<div class="col-md-12">
                <h4><center>Listing Addresses</center></h4>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped footable">
                    <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Mobileno</th>
      <th>Landlineno</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <%# @addresses.each do |address| %>
      <tr>
        <td><%= @addresses.address %></td>
        <td><%= @addresses.city %></td>
        <td><%= @addresses.state %></td>
        <td><%= @addresses.zipcode %></td>
        <td><%= @addresses.mobileno %></td>
        <td><%= @addresses.landlineno %></td>
        <td><%= link_to 'Show', @addresses %></td>
        <td><%= link_to 'Edit', edit_address_path(@addresses) %></td>
        <td><%= link_to 'Destroy', @addresses, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%#  end %>
    </tbody>
                  </table>
                </div>
              </div>
            </div>

<%#= link_to 'New Address', new_address_path %>
