
<div class="container">
 <div class="jumbotron">

<%= form_for (@certificational) ,:html=>{:class=>"form-horizontal" ,:role=>"form"}  do |f| %>
  <% if @certificational.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificational.errors.count, "error") %> prohibited this certificational from being saved:</h2>

      <ul>
      <% @certificational.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- 
  <div class="field">
    <%= f.label :certification_name %><br>
    <%= f.text_field :certification_name %>
  </div>
  <div class="field">
    <%= f.label :presentage %><br>
    <%= f.number_field :presentage %>
  </div>
  <div class="field">
    <%= f.label :institute_name %><br>
    <%= f.text_field :institute_name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->


<h2 style="color:OrangeRed"><center>Certification Details</center></h2>
<hr>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Certification Name</label>
    <div class="col-sm-6">
        <%= f.text_field :certification_name ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"certification Name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">presentage </label>
    <div class="col-sm-6">
       <%= f.number_field :presentage ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"  out of 100"%>
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Institute Name</label>
    <div class="col-sm-6">
         <%= f.text_field :institute_name ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"university  Name"%>
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Start date</label>
    <div class="col-sm-6">
      <%= f.date_select :start_date ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"year_of_passing"%>
    </div>
  </div>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">End date</label>
    <div class="col-sm-6">
      <%= f.date_select :end_date ,:class =>"form-control",  :style =>"border:1px groove #F7730E;" , :placeholder=>"year_of_passing"%>
    </div>
  </div>

 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      
      <%= f.submit 'Submit', :class => 'btn btn-primary'  %>
      <%= f.submit 'Enter Certification Details', :class => 'btn btn-primary'  %>
    </div>
    <img src="/assets/cer.png" alt="Logo"  align="right" style="left: 18px;
top: -294px;" >
  </div>
    <% end %>
</div>
</div>