
  
  <div class="container">
 <div class="jumbotron">

         <%= link_to 'New Certificational', new_certificational_path, :class=>"pull-right btn btn-default"%>          
      <h2 style="color:OrangeRed"><center>Listing Certification </center></h2>
   
      <hr>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped footable">
                    <thead>
    <tr>
      <th>Certification name</th>
      <th>Presentage</th>
      <th>Institute name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificationals.reverse.each do |certificational| %>
      <tr>
        <td><%= certificational.certification_name %></td>
        <td><%= certificational.presentage %></td>
        <td><%= certificational.institute_name %></td>
        <td><%= certificational.start_date %></td>
        <td><%= certificational.end_date %></td>
        <td><%= certificational.user_id %></td>
        <td><%= link_to 'Show', certificational %></td>
        <td><%= link_to 'Edit', edit_certificational_path(certificational) %></td>
        <td><%= link_to 'Destroy', certificational, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
 </tbody>
                  </table>
                </div>
              </div>
            </div>

</div>


 