

  
  <div class="container">
 <div class="jumbotron">

<p id="notice"><%= notice %></p>

<p>
  <strong>Certification name:</strong>
  <%= @certificational.certification_name %>
</p>

<p>
  <strong>Presentage:</strong>
  <%= @certificational.presentage %>
</p>

<p>
  <strong>Institute name:</strong>
  <%= @certificational.institute_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @certificational.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @certificational.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @certificational.user_id %>
</p>

<%= link_to 'Edit', edit_certificational_path(@certificational) %> |
<%= link_to 'Back', certificationals_path %>

</div>
</div>