
<div class="container">
 <div class="jumbotron">
 

        
<%= form_for @education ,:html=>{:class=>"form-horizontal" ,:role=>"form"} do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h2 style="color:OrangeRed"><center>Education Details</center></h2><hr>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">course Name</label>
    <div class="col-sm-6">
    <%= f.select :course, options_for_select(@education_type),{:prompt=> "Select Course education_type"},{:class =>"form-control"}%>
      <%#= f.text_field :course ,:class =>"form-control",   :placeholder=>"course name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">institute  Name</label>
    <div class="col-sm-6">
      <%= f.text_field :institute ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,:placeholder=>"institute  Name"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">university Name</label>
    <div class="col-sm-6">
      <%= f.text_field :university ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"university  Name"%>
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">presentage</label>
    <div class="col-sm-6">
      <%= f.number_field :presentage ,:class =>"form-control", :style =>"border:1px groove #F7730E;" ,  :placeholder=>"out of 100% "%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">year_of_passing</label>
    <div class="col-sm-6">
      <%= f.date_select :year_of_passing ,:class =>"form-control",   :style =>"border:1px groove #F7730E;" ,:placeholder=>"year_of_passing"%>
    </div>
  </div>
  
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      
      <%= f.submit 'Submit', :class => 'btn btn-primary'  %>
      <%= f.submit 'Enter Address Details', :class => 'btn btn-primary'  %>
    </div>
       <div id="image">
  <img src="../assets/ed.png" alt="Logo"  align="left" style=" left: 10px;
top: -290px;">
</div>
  </div>
    <% end %>


  </div>
  </div>









