
  
  <div class="container">
 <div class="jumbotron">

             <%= link_to 'Add Education', new_education_path, :class =>"btn btn-primary pull-right" %>
     <h2 style="color:OrangeRed"><center>Listing education </center></h2>       
               <hr>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped footable">
                    <thead>
    <tr>
      <th>Course</th>
      <th>Institute</th>
      <th>University/board</th>
        <th>presentage</th>
      <th>Year of passing</th>
      <th colspan="3">Action </th>
    </tr>
  </thead>

  <tbody>
    <% @education.each do |education| %>
      <tr>
        <td><%= education.course %></td>
        <td><%= education.institute %></td>
        <td><%= education.university %></td>
        <td><%= education.presentage %></td>
        <td><%= education.year_of_passing %></td>
        <td><%= link_to 'Show', education %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
         
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

</div>

