
  
  <div class="container">
 <div class="jumbotron">

<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @education.course %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @education.institute %>
</p>

<p>
  <strong>University/board:</strong>
  <%= @education.university%>
</p>
<p>
  <strong>presentage:</strong>
  <%= @education.presentage%>
</p>
<p>
  <strong>Year of passing:</strong>
  <%= @education.year_of_passing %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
</div>
</div>