<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jugal Manjeshwar - Resume</title>
      
        <script type="text/javascript" src="//use.typekit.net/lyj3wzr.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <body>
        <div class="page">
            <div class="section row">
                <h1 class="col"><span style="font-weight:700"><h2><%= @employee.first_name %>&nbsp <%= @employee.middle_name %>&nbsp<%= @employee.last_name %></h2>
                    </span></h1><h2>Web Designer, Director</h2>
                <div class="contact-info col-right">
                    <div>201 . 920 . 0729</div>
                    <div><a href="mailto:jugalm@nyu.edu">jugalm@nyu.edu</a></div>
                    <div><a href="http://jugalm.com">jugalm.com</a></div>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Interests</h2>
                <div class="section-text col-right"><span class="key">Intelligent systems</span> <span class="key">Machine learning</span> <span class="key">Data visualization</span> <span class="key">Computer vision &amp; graphics</span> <span class="key">Information networks</span> <span class="key">User experience / interaction design</span> </div>
            </div>
            <div class="section row">
                <h2 class="col">Skills</h2>
                <div class="section-text col-right row">
                    <ul class="skills" style="width:25%">
                        <li>C++, Java</li>
                        <li>Javascript</li>
                        <li>Python, PHP</li>
                        <li>HTML5, CSS3, SVG</li>
                    </ul>
                    <ul class="skills" style="width:35%">
                        <li>Qt, OpenGL/SDL, V8</li>
                        <li>jQuery, backbone, node</li>
                        <li>Django, App engine</li>
                        <li>LESS, Bootstrap, d3.js</li>
                        
                    </ul>
                    <ul class="skills">
                        <li>MySQL, MongoDB</li>
                        <li>grunt, jasmine</li>
                        <li>Flash, Actionscript 3</li>
                        <li>Git, Photoshop, Illustrator</li>
                    </ul>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Education</h2>
                <div class="section-text col-right">
                    <h3><span class="emph">Master of Science</span> in Computer Science</h3>
                    <div>New York University, Courant Institue of Mathematical Science</div>
                    <div class="row">
                        <div class="col light">New York, USA</div>
                        <div class="col-right light">September 2013 - May 2015</div>
                    </div>
                </div>
                <div class="section-text col-right">
                    <h3><span class="emph">Bachelor of Engineering</span> in Computer Engineering</h3>
                    <div>University of Pune</div>
                    <div class="row">
                        <div class="col light">Pune, India</div>
                        <div class="col-right light	">September 2008 - July 2012	</div>
                    </div>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Experience</h2>
                <div class="section-text col-right">
                    <div class="row">
                        <div class="col">
                            <h3>Emotion - New York University</h3>
                        </div>
                    </div>
                    <div class="row subsection">
                        <div class="emph col">Research Assistant, Full Stack Engineer</div>
                        <div class="col-right light">June 2014 - August 2014</div>
                    </div>
                    <div>Started out as a tool to help collect data for a research project - <i>Lingering emotion in the experience of beauty</i>, is now a comprehensive app that simulates every step of the experiment and automates the entire data collection process.
                    </div>
                    <ul class="desc">
                        <li>Designed and developed a mobile-friendly responsive web app from the ground-up that tracks touch events to calibrate and measure the distance between two fingers and detects gestures for UI interactions.</li>
                        <li>Ported the web app to the macintosh platform, using node-webkit and developed a native node.js module that detects and generates DOM-friendly touch events from a mac trackpad.</li>
                        <li>Configured and developed a RESTful server that extracts audio data from video recordings containing speech while trimming background silence and normalizing gain.</li>
                        <li>Devised and implemented a method to safely play user-selected music within the web app using an intermediary server that regulates and streams audio data from a popular music streaming service.</li>
                        <li>Implemented interactive audio and visual feedback using the HTML5 web audio api and SVG.</li>
                </div>

                <div class="section-text col-right">
                    <div class="row">
                        <div class="col">
                            <h3>Classroom.tv</h3>
                        </div>
                    </div>
                    <div class="row subsection">
                        <div class="emph col">Front-end Engineer</div>
                        <div class="col-right light">August 2011 - April 2012</div>
                    </div>
                    <ul class="desc">
                        <li>Crafted the logo and a majority of the initial web app interface using photoshop and illustrator.</li>
                        <li>Created mockups, planned and facilitated usability testing and converted the designs into gracefully-degradable standards based code (HTML, CSS).</li>
                        <li>Organised and developed semantically meanigful UI components using Backbone.js, such as a customized HTML5 video player with time-synchronized display of lecture slides and nested discussion threads.</li>
                        <li>Developed access control based front-end components in PHP using the Yii framework.</li>
                </div>
                

<!--                 <div class="section-text col-right">
                    <div class="row">
                        <div class="col">
                            <h3>Cityevents.com</h3>
                        </div>
                    </div>
                    <div class="row subsection">
                        <div class="emph col">Web/Mobile Front-End Developer</div>
                        <div class="col-right light">February 2013 - August 2013</div>
                    </div>
                    <div class="desc">Converted designs into responsive HTML/CSS code for the Web, Mobile and Tablet platforms. Re-imagined and developed better asynchronous user interface components with Javascript.</div>
                </div> -->

            </div>
            <div class="section row">
                <h2 class="col">Projects</h2>
                <div class="section-text col-right">
                    <h3><a href="https://github.com/nuterian">github.com/nuterian</a></h3>
                </div>
            </div>
            
            <div class="section row">
                <h2 class="col">Honors</h2>
                <div class="section-text col-right">
                    <div class="row">
                        <div class="col">
                            <h3>SEARCC International School's Software Competition</h3>
                        </div>
                    </div>
                    <div class="row subsection">
                        <div class="emph col">Algorithmic Programming Competition</div>
                        <div class="col-right light">Fall 2007</div>
                    </div>
                    <div class="desc">Organized by the Computer Society of India, was part of a team of three to represent our region at
                        the national level finals. Finished <span class="emph">second</span> by solving the maximum number of problems.
                    </div>
                </div>
                			
                <div class="section-text col-right">
                    <div class="row">
                        <div class="col">
                            <h3>Codechef Gamer's Challenge</h3>
                        </div>
                    </div>
                    <div class="row subsection">
                        <div class="emph col">Actionscript/HTML5 Game Development Competition</div>
                        <div class="col-right light">Summer 2009</div>
                    </div>
                    <div class="desc">Developed a prototypical game using Actionscript on the Flash platform, in less than 48 hours. Received an honorable mention award for the <span class="emph">Best Looking Game</span>.</div>
                </div>
            </div>
        </div>
    </body>
</html>