<p lang="en-US">
	Annu P
</p>
<p lang="en-US">
	<strong>E-mail: <u><a href="mailto:annup@gmail.com">annup@gmail.com</a></u></strong>
</p>
<p lang="en-US">
	<strong>Mobile: +919876543210</strong>
</p>
<p lang="en-US">
	<u><strong>SUMMARY</strong></u>
	<strong>:</strong>
</p>
<ul>
	<li>
		<p lang="en-IN" align="JUSTIFY">
			<strong>2+ years </strong>
			of work experience in Oracle Configurator Developer 11i, R12 – Building Model Structure, Rules, Populators, CZ Extensions and User Interface.
		</p>
	</li>
	<li>
		<p lang="en-IN" align="JUSTIFY">
			Expert in Keste Rule Import Tool.
		</p>
	</li>
	<li>
		<p lang="en-IN" align="JUSTIFY">
			Good Knowledge in Inventory, Bill of Materials, Quoting and Order Management.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Experience in Creating items, TSO process, BOM, catalog properties in the Oracle inventory..
		</p>
	</li>
	<li>
		<p lang="en-US">
			Excellent troubleshooting, de-bugging and problem solving skills.
		</p>
	</li>
	<li>
		<p lang="en-US">
			A committed team player with extensive organizational and interpersonal skills.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Travelled to US for Tekelec project, holding US B1 visa.
		</p>
	</li>
</ul>
<p lang="en-US">
	<u><strong>ACADEMIC QUALIFICATION:</strong></u>
</p>
<ul>
	<li>
		<p lang="en-IN" align="JUSTIFY">
			B.Tech in Computer Science &amp; Engineering from Raghu College, Visakhapatnam in 2010.
		</p>
	</li>
	<li>
		<p lang="en-IN" align="JUSTIFY">
			Intermediate in MPC from Narayan Junior College, Visakhapatnam, Andhra Pradesh.
		</p>
	</li>
	<li>
		<p lang="en-IN" align="JUSTIFY">
			SSC from Vignan Vidyalayam High School, Visakhapatnam, Andhra Pradesh.
		</p>
	</li>
</ul>
<p lang="en-US">
	<u><strong>TECHNICAL SKILLS:</strong></u>
</p>
<ul>
	<li>
		<p lang="en-US">
			<strong>Languages: </strong>
			C, C++, Java, JSP, Servlet, javascript and HTML.
		</p>
	</li>
</ul>
<ul>
	<li>
		<p lang="en-US">
			<strong>Database: </strong>
			Oracle 9i
		</p>
	</li>
</ul>
<ul>
	<li>
		<p lang="en-US">
			<strong>Operating System : </strong>
			UNIX, Windows 2000/XP
		</p>
	</li>
</ul>
<p lang="en-US">
	<u><strong>SUMMARY OF WORK EXPERIENCE: </strong></u>
</p>
<ul>
	<li>
		<p lang="en-US" align="JUSTIFY">
			Presently working as Software Engineer in KESTE Software Pvt Ltd from March 2011 to current date.
		</p>
	</li>
</ul>
<p lang="en-US">
	<strong>PROJECTS WORKED ON:</strong>
</p>
<p lang="en-GB">
	<strong><u>Project #1:</u> </strong>
	Airtel BTS
</p>
<p lang="en-GB">
	<strong>Environment : </strong>
	Oracle Applications 11.5.10
</p>
<p lang="en-GB">
	<strong>Duration : </strong>
	March 2011 to May 2011
</p>
<p lang="en-GB">
	<strong>Platform </strong>
	: Windows XP
</p>
<p lang="en-GB">
	<strong>Job Role </strong>
	: Developer
</p>
<p lang="en-GB">
	<u><strong>Description:</strong></u>
</p>
<p lang="en-GB">
	Bharti Airtel Limited is a leading integrated telecommunications company with operations in 20 countries across Asia and Africa. Implemented Oracle
	Configurator TSO process for Airtel Broadband and Telephone services and integrated with custom application ICRM.
</p>
<p lang="en-US" align="JUSTIFY">
	<u><strong>Responsibilities: </strong></u>
</p>
<p lang="en-US">
	.
</p>
<ul>
	<li>
		<p lang="en-US">
			Develop the CDL rules as per the requirement.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Publish the models to remote instances.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Create the user interface customized templates.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Bug fixes in extensions and additional enhancements.
		</p>
	</li>
</ul>
<p lang="en-GB">
	<strong><u>Project #2:</u> </strong>
	Airtel Schemes Pull Out POC
</p>
<p lang="en-GB">
	<strong>Environment : </strong>
	Oracle Applications 11.5.10
</p>
<p lang="en-GB">
	<strong>Duration : </strong>
	May 2011 to September 2011
</p>
<p lang="en-GB">
	<strong>Platform </strong>
	: Windows XP
</p>
<p lang="en-GB">
	<strong>Job Role </strong>
	: Developer
</p>
<p lang="en-GB">
	<u><strong>Description:</strong></u>
</p>
<p lang="en-GB">
	Bharti Airtel Limited is a leading integrated telecommunications company with operations in 20 countries across Asia and Africa. Pulling out the schemes
	(BOM Items) from the model structure and creating Non BOM features with properties in place of BOM items to map them with the IB Attributes to increase the
	performance.
</p>
<p lang="en-US" align="JUSTIFY">
	<u><strong>Responsibilities: </strong></u>
</p>
<p lang="en-US">
	.
</p>
<ul>
	<li>
		<p lang="en-US">
			Modify BOM Structure.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Create dummy features in place of BOM items.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Creating appropriate properties to map it with IB Attributes.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Modified BOM Structure should be compatible with older configurations(Data)
		</p>
	</li>
</ul>
<p lang="en-GB">
	<strong><u>Project #3:</u> </strong>
	NetApp Engenio 12/5
</p>
<p lang="en-GB">
	<strong>Environment : </strong>
	Oracle Applications R12
</p>
<p lang="en-GB">
	<strong>Duration : </strong>
	Oct 2011 to Dec 2011
</p>
<p lang="en-GB">
	<strong>Platform </strong>
	: Windows XP
</p>
<p lang="en-GB">
	<strong>Job Role </strong>
	: Developer
</p>
<p lang="en-GB">
	<u><strong>Description:</strong></u>
</p>
<p lang="en-GB">
	NetApp is the leading provider of storage system and software that helps the customers to store, manage, protect and retain their data. This project
	involves development of model structure and populating the data by using Populators in configurator and has to write CDL rules that drive the manufacturing
	parts. Have to develop Configurator Extensions to get the functionality to add and copy an instance. Developing of UI to provide a flexible view to the
	user and generating the PDF document that gives the configuration done by the user.
</p>
<p lang="en-US" align="JUSTIFY">
	<u><strong>Responsibilities: </strong></u>
</p>
<ul>
	<li>
		<p lang="en-US">
			Develop the non-BOM structure in the Oracle R12 Configurator.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop the CDL rules as per the requirement.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop the extension to add and copy the components by overriding the existing functionality.
		</p>
	</li>
	<li>
		<p lang="en-US">
			As per the client requirements develop the customized user interface.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Publish the models to remote instances.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Create the user interface customized templates.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Developed configurator Extension to generate a PDF Report of complete configuration.
		</p>
	</li>
</ul>
<p lang="en-GB">
	<strong><u>Project #4:</u> </strong>
	Tekelec
</p>
<p lang="en-GB">
	<strong>Environment : </strong>
	Oracle Applications R12
</p>
<p lang="en-GB">
	<strong>Duration : </strong>
	Jan 2012 to till Date
</p>
<p lang="en-GB">
	<strong>Platform </strong>
	: Windows XP
</p>
<p lang="en-GB">
	<strong>Job Role </strong>
	: Developer
</p>
<p lang="en-GB">
	<u><strong>Description:</strong></u>
</p>
<p lang="en-GB">
	Tekelec’s intelligent mobile broadband solutions enable service providers to manage and monetize mobile data and evolve to LTE and IMS. This project needs
	to develop complete BOM Structure for their services. Write CDL rules and develop configurator extensions depending on their business logic in
	configurator.
</p>
<p lang="en-US" align="JUSTIFY">
	<u><strong>Responsibilities: </strong></u>
</p>
<ul>
	<li>
		<p lang="en-US">
			Develop the non-BOM structure in the Oracle R12 Configurator.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop BOM structure in Inventory.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Create customized UI.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop the CDL rules to calculate the delta change.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop extension to copy the selections from one model to another model based on properties.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop Date picker in configurator UI.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop configurator extension to copy and add selected multiple instantiated component.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Model Migration from one instance to another.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Implement custom TSO process for standard itmes.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Involved in end to end design and development.
		</p>
	</li>
</ul>
<p lang="en-GB">
	<strong><u>Project #4:</u> </strong>
	Intelligrated
</p>
<p lang="en-GB">
	<strong>Environment : </strong>
	Oracle Applications R12
</p>
<p lang="en-GB">
	<strong>Duration : </strong>
	Jan 2013 to till Date
</p>
<p lang="en-GB">
	<strong>Platform </strong>
	: Windows XP
</p>
<p lang="en-GB">
	<strong>Job Role </strong>
	: Developer
</p>
<p lang="en-GB">
	<u><strong>Description:</strong></u>
</p>
<p lang="en-GB">
	Intelligrated provides automated material handling solutions designed to increase the efficiency, accuracy and capacity of each client’s unique operation.
	This project needs to modify the existing BOM structure as per their business expansion. Write CDL rules and develop configurator extensions as per their
	business logic in configurator. Develop ICAD module.
</p>
<p lang="en-US" align="JUSTIFY">
	<u><strong>Responsibilities: </strong></u>
</p>
<ul>
	<li>
		<p lang="en-US">
			Develop the non-BOM structure in the Oracle R12 Configurator.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Create customized UI.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Write CDL rules to drive BOM Items
		</p>
	</li>
	<li>
		<p lang="en-US">
			Develop extension to calculate the Models that need to instantiated based on user UI inputs.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Publish the Model from CZ Gold to DEV and PROD instance.
		</p>
	</li>
	<li>
		<p lang="en-US">
			Involved in end to end design and development and coordinated with client on daily basis.
		</p>
	</li>
</ul>
<p lang="en-US" align="JUSTIFY">
	<strong>PERSONAL PROFILE:</strong>
</p>
<ul>
	<li>
		<p lang="en-US" align="JUSTIFY">
			Date of Birth : Aug 12th 1991
		</p>
	</li>
	<li>
		<p lang="en-US" align="JUSTIFY">
			Marital Status : Single
		</p>
	</li>
	<li>
		<p lang="en-US" align="JUSTIFY">
			Sex : Female
		</p>
	</li>
	<li>
		<p lang="en-US" align="JUSTIFY">
			Nationality : Indian
		</p>
	</li>
	<li>
		<p lang="en-US" align="JUSTIFY">
			Languages Known : English, Hindi and Telugu
		</p>
	</li>
</ul>
<p lang="en-US">
	Annu P
	<br/>
	Place: Hyderabad
</p>