<body class="login-page">
			<!-- Page container -->
			 <img src="../assets/res.png" alt="Logo"  align="left">
			<center>

			<h3 style="color:OrangeRed"><strong><b>Easy online resume builder</strong></b></h3>	<br>
		    <h3 style="color:OrangeRed"><b>Create, edit and share your resume in minutes</b></h3>
		       </center><br><br>
			<p class="text-center " style="padding-top : 5px;">
		
		

			</p>
			<div class="login-buttons">


				 <%= link_to "Sign in", new_user_session_path, :class => "btn btn-login"  %>
				
				<strong>or</strong>
				<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-login"  %>
				
			</div>
			<br>
			<br>
			<center>
			 <h3 style="color:OrangeRed"><strong><b>Create your resume  and get a Job</strong></b></h3></center>	
	   <img src="../assets/resumeIcon.png" alt="Logo"  style="left: 350px;top: 50px;">

			<center>
		<!-- /Page container -->

		<!-- Login modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Please sign in<img src="../assets/resume.png" alt="Logo" width="50px" height="50px" align="left"></h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email address" required autofocus>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" required>
							</div>
							<label class="checkbox">
								<input type="checkbox" value="remember-me"> Remember me
							</label>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<a href="resume_edit" class="btn btn-primary">Sign in</a>
						<img src="assets/loaders/loader15.gif" alt="Loader" style="left: 4px;top: -2px;">
					</div>
				</div>
			</div>
		</div>

		<!-- Sign up modal -->
		<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">
							<center> <h2> CREATE FRESH ACCOUNT</h2></center><img src="../assets/resume.png" alt="Logo" width="50px" height="50px" align="left"></h4>
					</div>
					<div class="modal-body">
						<form role="form">
							
							<div class="form-group">
								<input type="name" class="form-control"  placeholder="First name">
								 <input type="last" class="form-control"  placeholder="last name">
								</div>
														   
									 
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Username" required autofocus>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email address" required autofocus>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" required>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Repeat password" required>
							</div>
							<div class="form-group">
									<input type="phone" class="form-control" placeholder="phone no" required>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<a href="resume_edit" class="btn btn-primary">Register</a></button>
						<img src="assets/loaders/loader15.gif" alt="Loader">

					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
