
		<body class="login-page">
				<div class="col-md-12">
					<div class="bs-example">
					<div class="text-center">
					<form class="form-inline" role="form">
							<div class="form-group" >
								<label class="sr-only" for="inputEmail">first name</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="first name" >
							</div>
							<div class="form-group">
									<label class="sr-only" for="inputPassword">middle name</label>
									<input type="password" class="form-control" id="inputPassword" placeholder="middle name">
							</div>
							<div class="form-group">
									 <label class="sr-only" for="inputPassword">last name</label>
									  <input type="password" class="form-control" id="inputPassword" placeholder="last name">
							</div>


								       
					</form>
					<br>
						<div class="col-md-9">
					       <form>
       							<label for="email"  style="color:white">Email Id   	:</label>
								  <input type="text" name="email" id="user-name" placeholder="xyz@gmail.com">
							 </form>
						</div>
						<br>
						<br>

						 <div class="col-md-8">
							<form>
								<label style="color:white">Gender :    </label>
								<input type="radio" name="sex" id="male">
								 <label for="male" style="color:white">Male</label>
								 <input type="radio" name="sex" id="female">
								<label for="female" style="color:white">Female</label>
							</form>
						</div>





















			
					
					 </div>
						
					</div>
					<!-- /Form masked input -->
				</div>
			</div>
			<!-- /Content -->
		</div>
</body>