

<body>
    <div id="container">
     
      <div class="section sectiontop">
        <img src="assets/profilepicture2.png" id="profilepicture" width="110" height="110"
        alt="profile_picture" />

        <h1><%= @employee.first_name %>&nbsp<%= @employee.middle_name %>&nbsp<%= @employee.last_name %></h1>

        <h2>webdesigner</h2>

        <ul>
          <li><span>E-mail:</span> <a href="#"><%=current_user.email%></a></li>

          <li><span>Website:</span> <a href="#">johnnewman.com</a></li>

          <li><span>Phone:</span> (123) 456-7890</li>

          <li><span>Address:</span> 32 Your Street, City, Country</li>
        </ul>
      </div>

      <div class="section personal">
        <div class="left">
          <h3>Personal &amp; Professional Informations</h3>
        </div>

        <div class="right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a pulvinar
          tellus. Donec laoreet posuere felis, sit amet convallis urna porta in. Praesent
          consectetur metus ac purus imperdiet in aliquam purus viverra. Praesent purus
          mi, mattis id ultricies id, porta condimentum dolor.</p>

          <p>Suspendisse a nulla vitae orci dictum facilisis. Donec sem purus, tristique
          eget consectetur malesuada, pharetra nec erat. Aenean ac justo diam.</p>
        </div>
      </div>

      <div class="section gallery">
        <div class="left">
          <h3>Porfolio</h3>

          <p>For me the photography is not just a hobby, this is a passion.</p>
        </div>

        <div class="right gallery">
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
          <a href="#"><img src="assets/pic.png" width="90" height="90" alt="image" /></a>
        </div>
      </div>

      <div class="section education">
        <div class="left">
          <h3>Education</h3>

          <p>Nullam a pulvinar tellus. Donec laoreet posuere felis, sit amet convallis
          urna porta in.</p>
        </div>

        <div class="right">
          <div class="row selection_education">
            <h4>Stanford University</h4>

            <h5>Graphich Designer</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a pulvinar
            tellus. Donec laoreet posuere felis, sit amet convallis urna porta
            in.</p><a href="#">2008-2012</a>
          </div>

          <div class="row">
            <h4>Boston High School</h4>

            <h5>Graphich</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a pulvinar
            tellus. Donec laoreet posuere felis, sit amet convallis urna porta
            in.</p><a href="#">2004-2008</a>
          </div>
        </div>
      </div>

      <div class="section technical">
        <div class="left">
          <h3>Technikal Skills</h3>
        </div>

        <div class="right">
          <div class="right_right">
            <h4>Adobe Photoshop</h4>
                <div class="progress-bar green">
                    <span style="width: 90%"></span>
                </div>
                <h4>HTML/CSS</h4>
                <div class="progress-bar orange">
                    <span style="width: 80%"></span>
                </div>
                <h4>PHP</h4>
                <div class="progress-bar orange">
                    <span style="width: 60%"></span>
                </div>
                <h4>Javascript</h4>
                <div class="progress-bar red">
                    <span style="width: 40%"></span>
                </div>
          </div>

          <div class="right_left">
            <p><span>Aenean venenatis convallis diam eget sagittis. Donec iaculis felis a
            est ultrices dapibus.</span></p>

            <p>Sed cursus quam ac nibh convallis vitae faucibus quam condimentum. Nulla
            elementum ultrices fermentum. Nulla non dolor odio, quis dictum dui. Aenean
            venenatis convallis diam eget sagittis. Donec iaculis felis a est ultrices
            dapibus.</p>
          </div>
        </div>
      </div>

      <div class="section contact">
        <div class="left">
          <h3>Contact</h3>

          <p>Suspendisse a nulla vitae orci dictum facilisis.</p>
        </div>

        <div class="right">
          <form class="form" action="#">
            <p class="name"><input type="text" name="name" id="name" value="Name" /></p>

            <p class="email"><input type="text" name="email" id="email" value="E-mail" /></p>

            <p class="text">
            <textarea name="text" rows="" cols="">Text
</textarea></p>

            <p class="submit"><input type="submit" value="Send" /></p>
          </form>

          <p class="contact_text">Sed cursus quam ac nibh convallis vitae faucibus quam
          condimentum. Nulla elementum ultrices fermentum. Nulla non dolor odio, quis
          dictum dui. Aenean venenatis convallis diam eget sagittis. Donec iaculis felis
          a est ultrices dapibus.</p>

          <div id="contact_icons">
            <a href="#" class="social_contact">facebook</a> <a href="#" class=
            "social_contact">twitter</a> <a href="#" class="social_contact">deviantArt</a> <a href="#"
            class="social_contact">Google+</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
