
<html>
<head>
	
     <style>
     table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
     }
     th, td {
         padding: 5px;
     }
     </style>

	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
</head>
		<body background="Resume_1.jpg">
<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
				<div class="col-md-4">
				<%= image_tag @profile.image.url(:medium) %>
					<h2><%= @employee.first_name %>&nbsp<%= @employee.middle_name %>&nbsp<%= @employee.last_name %></h2>
					<h2>Web Designer, Director</h2>
				</div></div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="<%=current_user.email%>"><%=current_user.email%></a></h3>
						<h3><%=@address.address%> <%=@address.city%></h3>
						<h3><%=@address.mobileno%></h3>
						<h3><%=@address.landlineno%>,
						<%=@address.landlineno%></h3>
						<h3><%#=@certificationals.certification_name%></h3>
						<h3><%#=@techskill.skill_name %></h3>

					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h1>Profile</h1>
						</div>
						<div class="yui-u">
							<p class="enlarge"> 
								
								 <td><%= (@profile.add_info).html_safe %></td>
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
								</div>

								<div class="talent">
									<h2>Interface Design</h2>
									<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical Skills</h2>
						</div>
						<div class="yui-u">
								<% @tech_skill.each do |tech_skill|%>
								<div class="talent">
									<h2><%=tech_skill.skill_name%></h2>
									<h2><%=tech_skill.institute_name%></h2>
									<p>I know this much presentage <%=tech_skill.presentage%>  synergistic core competencies.</p>
									<p>joined date :<%=tech_skill.start_date%>,End Date :<%=tech_skill.end_date%></p>
								</div>

								<% end%>
								
						</div>
					</div><!--// .yui-gf -->



					<div class="yui-gf">
						<div class="yui-u first">
							<h2>certificatin Skills</h2>
						</div>
						<div class="yui-u">
								<% @certificationals.each do |certification|%>
								<div class="talent">
									<h2><%=certification.certification_name%></h2>
									<p><%=certification.presentage%>% I Will Done.</p>
									<p>Institute:<%=certification.institute_name%>  </p>
									<p>Joined Date :<%=certification.start_date%></p>
									<p>End Date :<%=certification.end_date%></p>
								</div>

								<% end%>
								
						</div>
					</div><!--// .yui-gf -->

						

					

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Facebook</h2>
								<h3>Senior Interface Designer</h3>
								<h4>2005-2007</h4>
								<p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence. </p>
							</div>

							<div class="job">
								<h2>Apple Inc.</h2>
								<h3>Senior Interface Designer</h3>
								<h4>2005-2007</h4>
								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
							</div>

							<div class="job">
								<h2>Microsoft</h2>
								<h3>Principal and Creative Lead</h3>
								<h4>2004-2005</h4>
								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>
							</div>


							<div class="job last">
								<h2>International Business Machines (IBM)</h2>
								<h3>Lead Web Designer</h3>
								<h4>2001-2004</h4>
								<p>Globally re-engineer cross-media schemas through viral methods of empowerment. Proactively grow long-term high-impact human capital and highly efficient innovation. Intrinsicly iterate excellent e-tailers with timely e-markets.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
////////////////////////////////////////////////////

					 <%=@experiences.inspect%>




////////////////////////////////////////////
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							  <%@educations.each do |education|%>
								<div class="talent">
									<h2>Course:<%=education.course%></h2>
									<p>Institute:<%=education.institute%></p>
									<p><%=education.presentage%></p>
									<p>University:<%=education.university%>  </p>
									<p>Year Of Passing :<%=education.year_of_passing%></p>
									<!-- <p>End Date :<%#=education.end_date%></p> -->
								</div>

								<% end%>
								
						</div>
					</div><!--// .yui-gf -->



			

				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

