<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<%=render "shared/header"%>
<%= yield %>
 </div>

    </div><!-- /.container -->
 <%= javascript_include_tag 'application' %>
</body>
</html>
